<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department</th>
                <th scope="col">City</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let people of data">
                <th scope="row">{{people.employeeid}}</th>
                <td>{{people.fname}}</td>
                <td>{{people.lname}}</td>
                <td>{{people.dept}}</td>
                <td>{{people.city}}</td>
                <td>{{people.email}}</td>
                
            </tr>
          <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>-->
        </tbody>
    </table>
</div>